<li>First Name: <%= @attend.firstName %></li>
<li>Last Name: <%= @attend.lastName %></li>
<li>Age: <%= @attend.age %></li>
<li>Likes Beer? <%= @attend.likesBeer %></li>

<%= link_to "All Attendees", attends_path %>
